doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')
        script(src='/js/myscript.js')
    body
        //h1= message
        p.fourOfour Oops!
        h3 something went wrong
