doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')
        script(src='/js/myscript.js')
    body.container
        h1= message
        form
            input(type='text',placeholder='name')
            label Name
            input(type='text',placeholder='Super Power')
            label Super Power
            input(type='text',placeholder='Favorite Animal')
            label Favorite Animal
            input(type='text',placeholder='Birthday')
            label Birthday
            input(type='text',placeholder='Backstreet Boys or NSync')
            label honestly tho
            input.submitBtn(type='submit')
