doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')
        script(src='/js/myscript.js')
    body
        h1= h1
        #content
            img(src='https://s-media-cache-ak0.pinimg.com/736x/61/22/cb/6122cb371a319afa82c5d4e8077ebbdc.jpg')
            h1= message
